.button {
  background-color:#FF5454;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}
.button:hover{
  background-color:#f54646;
  cursor: pointer;
}
.outer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.padding {
  padding: 40px 0;
}
